<p style="color: green"><%= notice %></p>

<section>
  <%= render "food", food: @food %>
</section>

<div>
  <%= link_to "Back to food", foods_path %>

  <%= button_to "Delete this food",food_path, method: :delete %>
</div>
